.header{
    grid-area: header;
    background: green;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.header__logo{
    font-size: 30px;
    font-weight: 600;
}