.post {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;

  &__logo {
    width: 30px;
    height: 30px;
    background: gold;
    border-radius: 50%;
    margin-right: 10px;
  }

  &__text {
  }

  &__likes {
    flex: 1 1 100%;
    padding-left: 45px;
  }
}


